.idea
.pdf
.ipynb_checkpoints
__pycache__
venv
virtualenv
submit/

/analysis/*.pdf
/analysis/*.png
/TrackingData/*
/ptarmigan_files
/simplified_simulation_files
/qubo_files
/*csv
/test_files_qubo/
/test_qubos/
