.idea
.pdf
.ipynb_checkpoints
__pycache__
venv
virtualenv
submit/

/MuonCollider/*.jpg
/MuonCollider/*.pdf
/MuonCollider/*.C
/analysis/*.pdf
/analysis/*.png

/ptarmigan_files
/simplified_simulation_files
/qubo_files
/LCIO/
