.idea
.pdf
.ipynb_checkpints/
pycharm
Tims_files/Convert_data_from_Tim.py
Tims_files/Convert_back_data_from_Tim.py
__pycache__

venv
virtualenv
p2-venv
test_files_csv/
test_results_qubo/
TrackingData/
submit/
/test_files_csv/*
/test_results_qubo/*
/test_results_simplified_simulation/
/test_files_ptarmigan/
